body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.banner {
  background-image: url('./../images/meme-wallpaper.jpg');
  background-size: cover;
}

.banner h1{
  color: white;
  font-family: Impact;
  font-size: 100px;
  margin-top: 180px;
}

.banner h4{
  color:white;
  margin-bottom:160px;
}

.login, .content{
  margin-top: 50px;
  padding-top:50px;
}

.card {
  width:264px;
  border:1px solid #ccc;
  padding:1px;
  margin-bottom: 20px;
}
.card .title {
  font-size: 20px;
  font-weight: 300;
}
.card-text {
  padding:10px;
}
/* SUBSTITUIONS */
/*.grid-item { width: 200px; }
.grid-item img{ width: 200px; }
.grid-item--width2 { width: 400px; }
.grid-item--width2 img{ width: 400px; }*/
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}


/* Auth buttons */

.btn-social-box {
  margin: auto;
  width: 400px;
}
.btn-social {
  margin: auto;
  width: 250px;
  text-align: left;
  font-size: 16px;
  color: white;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-social:hover, .btn-social:focus,.btn-social:active {
  color: white;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-social i{
  width: 45px;
  float: left;
  font-size: 24px;
}
.btn-social-box .disabled {
  color: #454545;
}
.btn-facebook {
  background-color: #3B5998;
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active{
  background-color: #2D4373;
}
.btn-google {
  background-color: #DD4B39;
}
.btn-google:hover, .btn-google:focus, .btn-google:active{
  background-color: #C23321;
}
.btn-twitter {
  background-color: #55ACEE;
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active{
  background-color: #2795E9;
}
