<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
    <% include ./partials/header.ejs %>
    <div class="banner">
      <div class="container text-center">
        <h1>MEMEST</h1>
        <h4>"Oh, Really?!"</h4>
      </div>
    </div>
    <div class="promo">
      <div class="container text-center">
        <h1>Share memes and funny images</h1>
        <br>
        <h4>Connect with your Twitter account and start now!</h4>
        <br>
        <a class="btn btn-default btn-social btn-twitter btn-block" href="/auth/twitter">
          <i class="fa fa-twitter"></i>
          Sign in with Twitter
        </a>
      </div>
    </div>
    <% include ./partials/footer.ejs %>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
