<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
    <% include ./partials/header.ejs %>
    <div class="login">
      <div class="container text-center">
        <a class="btn btn-default btn-social btn-twitter btn-block" href="/auth/twitter">
          <i class="fa fa-twitter"></i>
          Sign in with Twitter
        </a>
        <a class="btn btn-default btn-social btn-facebook btn-block" disabled href="/auth/twitter">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </div>
    </div>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
